<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oshamahue.othermodule">

    <application>
        <activity
            android:name=".ActivityBMain"
            android:exported="false" />
        <activity
            android:name=".ActivityBSub"
            android:exported="false" />
    </application>

</manifest>
